@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "generals";
@import "mixins";

.jumbotron {
    min-height: 100vh;
}

img {
    max-height: 150px;
}

.top-navbar {
    background-color: $primary_color;
    div {
        color: $light_color;
    }
}

.navbar {
    background-color: $light_color;

    .nav-link:hover {
        color: $primary_color;
    }

    ul {
        font-weight: bold;
    }

    form {
        border-bottom: solid $primary_color;
        input {
            border: none;
        }
    }
}

footer {
    background-color: #303030;
}

.content {
    @include margin_app();
}

.footer-top {
    @include footer_style();
    @include flex-center();
    justify-content: space-between;

    background-image: url(../img/footer-bg.jpg);
    .footer-content-left {
        display: flex;
    }
    .footer-content-right {
        background-image: url(../img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position: right;

        min-width: 40rem;
        min-height: 20rem;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.icons {
    @include align_list();
    padding: 1rem 0;
}
button {
    @include button_hover();
}
